@import url("https://fonts.googleapis.com/css?family=Lato:700,400");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: "Lato", sans-serif;
  -webkit-text-size-adjust: 100%;
  background-color: #000000;
}

img {
  border-style: none;
}

main {
  font-family: "Poppins", sans-serif;
}

/* homepage clickables */
h1.home-click {
  font-size: 7vh;
  margin: 0px;
}
h3.home-click {
  font-size: 3vh;
  margin: 0px;
}

h2 {
  font-size: 4vh;
  margin: 0px;
  font-weight: 700;
  text-align: center;
}

section ul {
  margin: 0 40px;
  padding: 0;
  list-style: none;
}

section li {
  margin: 1rem 0;
}

/* shoelace light button */
.light-button::part(base) {
  background: rgba(255, 255, 255, 0.1);
  border: solid 1px white;
  font-weight: 700;
}

.light-button::part(base):hover {
  background: rgba(255, 255, 255, 0.4);
}

.light-button::part(base):active {
  background: rgba(255, 255, 255, 0.2);
}

.light-button::part(base):focus {
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.33);
}

.light-button::part(label) {
  font-family: "Poppins", sans-serif;
  color: white;
}

/* shoelace dark button */
.dark-button::part(base) {
  background: rgba(0, 0, 0, 0.1);
  border: solid 1px black;
  font-weight: 700;
}

.dark-button::part(base):hover {
  background: rgba(0, 0, 0, 0.4);
}

.dark-button::part(base):active {
  background: rgba(0, 0, 0, 0.2);
}

.dark-button::part(base):focus {
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.33);
}

.dark-button::part(label) {
  font-family: "Poppins", sans-serif;
  color: black;
}
